<h1>{{title}}</h1>
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">Title</label>
            <input title="Title" type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">Title is required</div>
            </div>
        </div>
        <div class="mb-3 col">
            <label class="form-label">Description</label>
            <input title="Description" type="text" formControlName="taskdescription" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.taskdescription.errors }" />
            <div *ngIf="submitted && f.taskdescription.errors" class="invalid-feedback">
                <div *ngIf="f.taskdescription.errors.required">Description is required</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">Supporting Documents</label>
            <input title="Upload" type="file" (change)="getFile($event)" formControlName="file" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.file.errors }" />
            <div *ngIf="submitted && f.file.errors" class="invalid-feedback">
                <div *ngIf="f.file.errors.required">file is required</div>
            </div>
        </div>
        <div class="mb-3 col">
            <label class="form-label">Status</label>
            <select title="Type" formControlName="status" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                <option>Created</option>
                <option>pending approval</option>
                <option>completed</option>
                <option>rejected</option>
                </select>
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                <div *ngIf="f.status.errors.required">Type is required</div>
            </div>
        </div>
    </div>

    
    <div class="mb-3">
        <button type="submit" [disabled]="submitting" class="btn btn-primary">
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
            Create Task
        </button>
        <a routerLink="/tasks" class="btn btn-link">Cancel</a>
    </div>
</form>
<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>